{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

[data]
osid = {{ $osid | quote }}

[data.dir]
{{- if eq .chezmoi.hostname "something-weird" }}
walls = '~/Pictures/walls/_rotation/'
{{- else }}
walls = '/data/smol/images/walls/_rotation/'
{{- end }}

[diff]
command = "delta"
# args = ["-d", "{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]
exclude = ["externals"]

[merge]
command = "nvim"
args = ["-d", "{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Source {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]
