#!/usr/bin/env bash

declare -a pkgs=(vim tmux base-devel ripgrep)

{{ if eq .osid "linux-arch" }}
# Arch Linux
echo "${pkgs[@]}"
# sudo pacman -Syyu
# sudo pacman -S "${pkgs[@]}"
{{ else if eq .osid "linux-ubuntu" }}
# Ubuntu-specific code
{{ end }}


# vim: ft=sh:
