extends markdown
clearsnippets link


snippet n "Note"
[${1:${VISUAL:title}}](`!v strftime('%Y%m%dT%H%M')`-${1/(\w+)(\W*)/(?1:\L$1\E)(?2:-)/g})
endsnippet


snippet h "hyperlink"
[${2:title}]($1)
endsnippet
